@model GameX.ViewModel.EventInputModel
@{
    ViewData["Title"] = "Edit";
}

<form asp-controller="Event" asp-action="Edit" method="post">
    <input name="EventId" value="@Model.EventId" type="hidden">
    <input name="EventAdressId" value="@Model.EventAdressId" type="hidden">
    <div class="addEvent">
        <div class="addEvent__block">
            <label class="addEvent__block__name" for"">Nazwa</label>
            <input type="text" name="Name" class="input__block__entry" value="@Model.Name" placeholder="Nowy event">
        </div>
        <div class="addEvent__block">
            <label class="addEvent__block__name" for"">Data</label>
            <input type="date" name="Date" class="input__block__entry" value="@Model.Date.ToString("yyyy-MM-dd")" placeholder="19.06.2018">
        </div>
        <div class="addEvent__block">
            <label class="addEvent__block__name" for"">Opis</label>
            <textarea name="Description" class="input__block__entry" placeholder="Opis">@Model.Description</textarea>
        </div>
        <div class="addEvent__block">
            <label class="addEvent__block__name" for"">Dyscyplina</label>
            <select name="DiciplineId" class="input__block__entry selectDiscipline" value="@Model.DiciplineId">
                <option ></option>
                @foreach (var item in Model.Disciplines)
                {

                    <!option @(item.DieciplineId == Model.SelectedDisciplineID ? "selected" : "") value="@item.DieciplineId">@item.Name</!option>
                }
            </select>
        </div>

        <div class="addEvent__block">
            <label class="addEvent__block__name" for"">Limit</label>
            <input type="number" name="Limit" class="input__block__entry" value="@Model.Limit" placeholder="10">
        </div>

        <div class="addEvent__block">
            <label class="addEvent__block__name" for"">Address</label>
            <select name="SelectedEventAddressID" class="input__block__entry selectAddress">
                <option></option>
                @foreach (var item in Model.Address)
                {

                    <!option @(item.EventAdressId == Model.SelectedEventAddressID ? "selected" : "") value="@item.EventAdressId">@item.Street @item.City @item.HouseNumber</!option>
                }
            </select>
        </div>
      
            <div class="addEvent__block">
                <button type="submit" class="addEvent__block__button">Wyslij!</button>

            </div>
        

    </div>
</form>

@section Scripts{
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function () {
        $('.selectAddress').select2({
            placeholder: "Wybierz",
            allowClear: true
        });
        $('.selectDiscipline').select2({
            placeholder: "Wybierz",
            allowClear: true
        });

    });
    $("#addNewAddress").bind("click", function () {
        if ($(".address").hasClass("show")) {



        } else {
            $("#addNewAddress").addClass("hide");
            $("#removeNewAddress").removeClass("hide");
            $(".address").removeClass("hide");
            $(".address").addClass("show");
            clearSelect2();
            $(".selectAddress").attr("disabled", true);
        }


    })
    $("#removeNewAddress").bind("click", function () {
        $(".address").removeClass("show");
        $(".address").addClass("hide");
        $("#removeNewAddress").addClass("hide");
        $(".selectAddress").attr("disabled", false);
        $("#addNewAddress").removeClass("hide");
        $(".addr").val("");
    })
    function clearSelect2() {
        $(".selectAddress").val(null).trigger('change');


    }
</script>

}
